#titulo{
    font-size: 18px;
   }
#seccionImagen{
    padding: 0px !important;
    margin: 0px;
    gap: 0px;
}

#btncerrarModal{
    width: 60px;
    height: 30px;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 2px 0px;
}

#ventanaModal{
    border-radius: 7px;
    border: none;
    box-shadow: 5px 5px 5px 5px grey;
    justify-items: center;
}

#contenedorModal{
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#formularioFiltro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}
#inputTitulo, #inputDirector, #inputYear, #selectGenero, #botonBuscar{
    border-radius: 7px;
    height: 35px;
}
#inputTitulo, #inputDirector, #inputYear, #selectGenero{
       box-shadow: 5px 5px 10px black; 
}


#inputYear{
    width: 70px;
}

#selectGenero{
  width: 105px;
}

#botonBuscar{
    background-color:rgb(68, 170, 122) ;
    border-color: rgb(68, 170, 122);
    box-shadow: 10px 10px 20px rgb(68, 170, 122);
}
/* aparentenmente no hay menor distancia posible entre estos elementos*/
#checkTitulo{
    margin-right: 0px;
    padding: 0px;
    gap: 0px;
}
#labelTitulo{
    margin-left: 0px;
    padding: 0px;
    gap: 0px;
}

#peligro{
  width: 100px;
  height: 100px;
}
#cajaPeligro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#botonInfo{
    background-color:rgb(68, 170, 122) ;
    border-color: rgb(68, 170, 122);
}

#movies-list{
    margin: 20px 12px !important;

}